{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<!-- Η κύρια σελίδα ενός συνδεδεμένου χρήστη

Εμφάνιση καρτών αγοράς-->
<h1 align="center">Cards</h1>
<ul class="list-group list-group-flush" id="cards">
    {% for card in user.cards %}
    <li class="list-group-item">
        {{ card.data }}
        <button type="button" class="close" onclick="delete_card( {{ card.id }}
            )">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>

<!-- Δημιουργία κάρτας-->
<form method="POST">
    <textarea name="card" id="card" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">New Card/Order</button>
    </div>
</form>
{% endblock %}